:root {
    --primary: #4E47FF;
    --dark: #0A0A23;
    --text: #f5f7ff;
    --subtext: #B3B3B3;
    --white: #ffffff;

    --primary-font: "Raleway", sans-serif;
    --secondary-font: "Inter", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F5F8FF;
}
h1,h2,h3,h4{
    font-family: var(--primary-font);
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 15px;
}
h1{
    font-family: var(--primary-font);
    font-size: 65px;
    text-transform: capitalize;
    font-weight: bold;
}
h2{
    font-size: 42px;
}
p{
    font-family: var(--secondary-font);
}
section{
    padding: 80px 0;
}
.text-center{
    text-align: center;
}
.flex{
    display: flex;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.btn{
    background-color: var(--primary);
    font-family: var(--primary-font);
    color: var(--white);
    border: none;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: capitalize;
    transition: .4s all ease-in-out;
}
.btn:hover{
    background-color: #dda15e;
    scale: 1.1;
    transition: .4s all ease-in-out;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

.hero-wrapper{
    background-image: url("./images/hero-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo{
    font-size: 34px;
    font-weight: 900;
    color: var(--primary);
    font-family: var(--secondary-font);
    text-transform: uppercase;
    margin-bottom: 0px;
}
.banner{
    padding: 155px 0;
}
.banner h1{
    max-width: 80%;
    margin: 0 auto 30px auto;
}
.cta img{
    border-radius: 48px;
    height: 328px;
    object-fit: cover;
}
.cta-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.margin-top{
    margin-top: 20px;
}
.cta-wrapper p{
    font-size: 24px;
    font-family: var(--primary-font);
    color: var(--subtext);
}
.counter-wrapper-main{
    padding: 50px 150px;
    border-radius: 24px;
    background-color: #4e47ff1a;
}
.counter-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.count{
    font-size: 80px;
    margin-bottom: 0px;
    color: var(--primary);
    font-family: var(--secondary-font);
}
.counter-title{
    color: rgb(0 0 0 / 50%);
    font-size: 20px;
}

.testimonial-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}
.stars{
    margin-bottom: 20px;
}
.testimonial-card{
    padding: 24px;
    border-radius: 24px;
    background-color: #fff;
}
.testimonial-title{
    font-size: 24px;
    font-family: var(--secondary-font);
    font-weight: 600;
    color: #1E1E1E;
}
.testimonial-description{
    color: #1E1E1E;
}
.client-name{
    font-weight: 600; 
    color: #757575;
    margin-bottom: 2px;
}
.client-description{
    color: #B3B3B3;
    font-family: var(--secondary-font);
}
.client-wrapper{
    display: flex; 
    align-items: center; 
    margin-top: 1rem;
    gap: 10px;
}


.cta-big{
    padding: 70px 150px;
    background-color: #fff;
    border-radius: 14px;
}
.cta-big img{
    border-radius: 48px;
    margin-top: 20px;
}
.cta-big p{
    font-size: 16px;
    font-family: var(--secondary-font);
    color: rgb(10 10 35 / 50%);
}


.contact{
    display: flex;
}
.contact-left{
    width: 50%;
    display: flex;
    align-items: center;
}
.contact-right{
    width: 50%;
}
.contact-title{
    font-size: 97px;
}
.contact form label{
    display: block;
    font-size: 18px;
    font-family: var(--secondary-font);
    color: #000000;
    text-transform: capitalize;
    font-weight: medium;
}
.form-control{
    width: 100%;
    padding: 14px 16px;
    font-size: 20px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 22px 32px 18px 32px;
    font-family: var(--secondary-font);
}
.form-control:focus{
    outline: none;
}

::placeholder{
    font-size: 20px;
    color: rgb(0 0 0 / 50%);
}
form .btn{
    width: 100%;
}

footer{
    padding: 100px 0px;
    background-color: #fff;
}
.footer-wrapper{
    text-align: center;
}
.footer-wrapper .logo{
    font-size: 100px;
}
.footer-wrapper ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 30px;
    gap: 48px;
}
.footer-wrapper ul li{

}
.footer-wrapper ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #8987A1;
    font-family: var(--secondary-font);
    font-size: 16px;
}
.footer-description{
    color: #8987A1;
    font-size: 16px;
    max-width: 45%;
    margin: 0 auto;
    line-height: 1.6;
}

